/* Augmented Fourth Typescale 
 *
 *
 *
 *
 *
 */

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  background: #151613;
  font-family: "Cartograph", sans-serif;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
  font-family: "Cartograph", sans-serif;
  font-weight: 400;
  font-size: 1.414rem;
  color: #e1e3dd;
}
.thin {
  font-family: "CartographBold", sans-serif;
  color: #e1e3dd;
  margin: 0 0 0 0;
  grid-row: span 1;
  grid-column: span 2;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

.italic {
  font-family: "CartographItalic", sans-serif;
}

small,
.text_small {
  font-size: 0.707rem;
}

a {
  color: #e1e3dd;
  text-decoration: none;
  margin: 0;
  font-family: "CartographItalic", sans-serif;
}
.active {
  text-decoration: underline;
  display: inline;
}

.flex-row {
  display: flex;
  height: 8rem;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.sidebar {
  grid-column: span 1;
  grid-row: span 3;
  text-align: center;
  border: solid 2px;
  border-color: #e1e3dd;
  background-color: #151613;
  overflow: visible;
  color: #e1e3dd;
  font-size: 1.999rem;
  display: flex;
  flex-direction: column;
}

.sidebar:first-child {
  padding-top: 7.8rem;
}

.page {
  overflow: hidden;
  grid-row: span 3;
}

.bodyText {
  max-height: 95%;
  margin: 1.414rem 0rem 1.414rem 1.414rem;
  overflow: auto;
  scrollbar-color: #e1e3dd rgba(225, 227, 221, 0.6);
}

.bodyText::-webkit-scrollbar {
  width: 0.707rem;
  background: rgba(225, 227, 221, 0.6);
}
.bodyText::-webkit-scrollbar-track {
  box-shadow: 4px 4px 0px rgba(255, 255, 0, 1);
}

.bodyText::-webkit-scrollbar-thumb {
  background-color: #e1e3dd;
  outline: 3px solid black;
}
.space-y-lg > * + * {
  margin-top: 1.414rem;
}

.mb-lg {
  margin-bottom: 4.8rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.5fr 3fr 0.25fr;
  margin: 0 auto;
  margin-top: 0.25rem;
  height: 98%;
  max-width: 80rem;
  grid-template-areas:
    "sidebar heading heading"
    "sidebar page page"
    "sidebar page page";
}

.navItem {
  font-size: 2.827rem;
}

.heading {
  line-height: 0rem;
  grid-column: span 2;
  grid-row: span 1;
  border-left: 0px;
  border-left-style: solid;
  padding: 0rem;
  text-align: center;
  height: 100%;
  border: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e1e3dd;
  color: #e1e3dd;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 680px) {
  body {
    overscroll-behavior: contain contain;
  }
  .sidebar:first-child {
    padding-top: 0rem;
  }
  .navItem {
    font-size: 1.999rem;
    margin-left: 0;
    margin-right: 0;
  }
  .layout {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 0.25fr;
    grid-template-areas:
      "heading heading heading "
      "page page page"
      "nav nav nav";
  }

  .heading {
    border-left: 3px;
    border-left: solid;
    grid-column: span 3;
    grid-row: span 1;
    grid-row-start: 1;
  }

  .sidebar {
    display: flex;
    grid-column: span 3;
    grid-row-start: 3;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    font-size: 1.25rem;
  }

  .page {
    grid-row-start: 2;
    grid-column: span 3;
  }

  .navbar {
    display: flex;
    font-size: 1.4rem;
    max-height: 5vh;
    justify-content: space-between;
  }

  .initials {
    display: none;
  }
  .space-y-lg > * + * {
    margin-top: 0rem;
  }
  .navItem {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@font-face {
  font-family: "Cartograph";
  src: local("Cartograph"), url("/fonts/CartographCF-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "CartographBold";
  src: local("CartographBold"), url("/fonts/CartographCF-Bold.woff2");
}

@font-face {
  font-family: "CartographItalic";
  src: local("CartographItalic"), url("/fonts/CartographCF-RegularItalic.woff2");
}

@font-face {
  font-family: "CartographThin";
  src: local("CartographThin"), url("/fonts/CartographCF-Thin.woff2");
}
